<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="public/css/style.css" rel="stylesheet">
    
    <!-- =======================================================
        Theme Name: Siimple
        Theme URL: https://bootstrapmade.com/free-bootstrap-landing-page/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>
  <body>

    <!-- Fixed navbar -->

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<center><h1>Play Biogamecrafter Here!</h1>
					<h2 class="subtitle">Making learning fun</h2></center>		
				</div> 
 
    <div id="heading-breadcrumbs">

              
    </div>

    <div id="content">
        <div class="container">

            <div class="row">

       <p><center>      Your changes have been made!</center>  </p>
   <p><center>  </center></p>
                <div class="col-md-6">
                    <div class="box">
                        <hr>
                        <center>

                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>