<div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
					<br>
					<br>
                        <h1>          Already have an account? Sign in below.</h1>
	
	
	
	
	<div class="wrapper" style="padding-top:4rem;padding-bottom:35.4rem">
		<form class="login wrapper" action="login" method="post">
			<label for="user">User Name</label><autofocus="autofocus"><input type="text" name="user"placeholder="Five Characters Here">
			<label for= "email">Email</label><input type="text" name="email">
		    <label for="password">Password</label><input type="password" name="password"placeholder="Eight Characters Here">
		    <input type="submit" value="submit">
					<br>
					<br>
					<br>
					<br>
                        <h1>New users and those who need to reset your username or password, click here for help.</h1>
		</form>
	</div>
</div>