<!DOCTYPE html>
<head>
	<title>
		Planet Green Games
	</title>

<link rel="stylesheet" href = "css/style.css"> 

</head>
<body>
	<%#<header>
			
			<ul>
				<li><a href = "/">HOME</a></li>
				<li><a href = "/contact">CONTACT</a></li>
				<%#<li><a href = "/rules">RULES</a></li>
				<li><a href = "/about">ABOUT GREEN PLANET GAMES</a>%>
				<%#</li>
			</ul>
	</header>

   				<li><a href = "/">NEW USER OR RESET</a></li>%>

		<%= yield %>
	</body>
	