<!DOCTYPE html>
<head>
	<title>
		Planet Green Games - Biogamecrafter
	</title>

<link rel="stylesheet" href = "css/style.css"> 

</head>
<body>
	
		<%= yield %>
	</body>

	<%#<footer><center><a href="http://minedminds.org">
              <img src="/img/MM.jpg" class="padding-bottom" width="150px"></center>
            </a>
        </footer>%>



<script src="js/bootstrap.min.js">
</script>