<p>
<form method = "post" action = "pre_test">
<center>
    <b>EcoSystem Questions</b><br />
    <b></b>
</p>
<p>
   <b> 1. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q1" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q1" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q1" type="radio" value="C" />Fish<br />
    <b></b>
</p>
<p>
<b> 2. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q2" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q2" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q2" type="radio" value="C" />Fish<br />
    <b></b>
</p>
<p>
<b>3. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q3" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q3" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q3" type="radio" value="C" />Fish<br />
    <b></b>
</p>
<p>
<b> 4. Sheep like to eat ______ . </b><br />
   <input id="A" name="Q4" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q4" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q4" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 5. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q5" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q5" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q5" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 6. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q6" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q6" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q6" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 7. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q7" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q7" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q7" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 8. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q8" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q8" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q8" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 9. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q9" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q9" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q9" type="radio" value="C" />Fish<br />
    <b></b>
	</p>
<p>
<b> 10. Sheep like to eat ______ . </b><br />
    <input id="A" name="Q10" type="radio" value="A" /> Grass<br />
    <input id="B" name="Q10" type="radio" value="B" /> Corn<br />
    <input id="C" name="Q10" type="radio" value="C" />Fish<br />
    <b></b>
    <input type = "submit">

	

	
	
<br>
</form>