<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Siimple - Free Bootstrap 3 Landing Page</title>

    <!-- Bootstrap -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="public/css/style.css" rel="stylesheet">
    
    <!-- =======================================================
        Theme Name: Siimple
        Theme URL: https://bootstrapmade.com/free-bootstrap-landing-page/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>
  <body>
<!-- body background="main-bg.jpg" -->
    <!-- Fixed navbar -->

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<center><h1>Play the ECOTile Game Here!</h1>
					<h2 class="subtitle">Making learning fun</h2></center>		
				</div> 
 
 <div id="heading-breadcrumbs">
            
        </div>

        <div id="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                           

                            <%#<p class="lead">Not our registered user yet?</p>%>
                            

                            <hr>
<p>
<form method = "post" action = "pre_test">
<center>
    <b>EcoSystem Questions</b><br />
    <b></b>
</p>
<div align = "left">
<p>
   <b>      1. Sheep like to eat ______ . </b><br />
   <font size="6">
    <input id="A" name="Q1" type="radio" value="A" /> Grass   
    <input id="B" name="Q1" type="radio" value="B" /> Corn   
    <input id="C" name="Q1" type="radio" value="C" />Fish   </font>
    <b></b>
</p>
<p>
<b>     2. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q2" type="radio" value="A" /> Grass   
    <input id="B" name="Q2" type="radio" value="B" /> Corn   
    <input id="C" name="Q2" type="radio" value="C" />Fish   
    <b></b></font>
</p>
<p>
<b>     3. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q3" type="radio" value="A" /> Grass   
    <input id="B" name="Q3" type="radio" value="B" /> Corn   
    <input id="C" name="Q3" type="radio" value="C" />Fish   
    <b></b></font>
</p>
<p>
<b>     4. Sheep like to eat ______ . </b><br /><font size="6">
   <input id="A" name="Q4" type="radio" value="A" /> Grass   
    <input id="B" name="Q4" type="radio" value="B" /> Corn   
    <input id="C" name="Q4" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>     5. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q5" type="radio" value="A" /> Grass   
    <input id="B" name="Q5" type="radio" value="B" /> Corn   
    <input id="C" name="Q5" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>     6. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q6" type="radio" value="A" /> Grass   
    <input id="B" name="Q6" type="radio" value="B" /> Corn   
    <input id="C" name="Q6" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>     7. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q7" type="radio" value="A" /> Grass   
    <input id="B" name="Q7" type="radio" value="B" /> Corn   
    <input id="C" name="Q7" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>     8. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q8" type="radio" value="A" /> Grass   
    <input id="B" name="Q8" type="radio" value="B" /> Corn   
    <input id="C" name="Q8" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>     9. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q9" type="radio" value="A" /> Grass   
    <input id="B" name="Q9" type="radio" value="B" /> Corn   
    <input id="C" name="Q9" type="radio" value="C" />Fish   
    <b></b></font>
	</p>
<p>
<b>         10. Sheep like to eat ______ . </b><br /><font size="6">
    <input id="A" name="Q10" type="radio" value="A" /> Grass   
    <input id="B" name="Q10" type="radio" value="B" /> Corn   
    <input id="C" name="Q10" type="radio" value="C" />Fish   
    <b></b></font><br>
   <center> <div class="button" style="width:240px;height:480px;">
                                    <button type="submit1" class="form.signup button.btn"><i class="fa fa-user-md"></i> Play Game</button>
                                </div></center>

	
</div>
	
	
<br>
</form>