<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="public/css/style.css" rel="stylesheet">
    
    <!-- =======================================================
        Theme Name: Siimple
        Theme URL: https://bootstrapmade.com/free-bootstrap-landing-page/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>
  <body>

    <!-- Fixed navbar -->

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<center><h1>Play Biogamecrafter Here!</h1>
					<h2 class="subtitle">Making learning fun</h2></center>		
				</div> 
 
    <div id="heading-breadcrumbs">
            
    </div>

    <div id="content">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <hr>
                        <center>
                            <form action="/user_register" method="post">            
                                <div class="form-group">
                                    <label>First and Last Name</label>
                                    <input type="text" style="font-size:26px;height:auto;width:auto;" class="form-control" name="full_name" size="auto" width="auto"  autofocus required><br>
                                 </div><br>
<div class="form-group">
<label>Teacher's Name</label>
<input type="text" style="font-size:26px;height:auto;width:auto;" class="form-control" name="teacher" size="auto" width="auto" required><br>
                                 </div>
                                   <%#<div class="form-group">
                                   <br> <label id="teacher">Teacher's Name</label>
                                    <select name="teacher"style="font-size:26px;height:auto;width:auto">
                                    <option style="font-size:26px;height:auto;width:auto;"value="Ms. Frizzle">Ms. Frizzle</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="Mr. Miyagi">Mr. Miyagi</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="Professor McGonagall">Professor McGonagall</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="Ms. Day">Ms. Day</option>
                                    </select>
                                </div>%>

                                 <div class="form-group">
                                    <br><label id="grade">Grade Level</label>
                                    <select name="grade"style="font-size:26px;height:auto;width:auto">
                                    <option style="font-size:26px;height:auto;width:auto;"value="K">K</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="1">1</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="2">2</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="3">3</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="4">4</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="5">5</option>
                                    <option style="font-size:26px;height:auto;width:auto;"value="6">6</option>
                                    </select>
                                </div>
		                        
                                <div class="form-group">
                                    <br><label for="password">Password</label>
                                     <input type="password" class="form-control" style="font-size:26px;height:auto;width:auto;" name="password" required><br><br>             
                                </div>
                                <div>
                                    <br><br><button type="submit1" class="continue_button"><i class="fa fa-user-md"></i> Continue to Pre-test</button>
                                </div>
                            </form>
                        </center>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        